osmnx==1.9.4
networkx==3.3
geopandas==0.14.4
matplotlib==3.9.0
folium==0.16.0
shapely==2.0.4
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.0
xgboost==2.0.3
joblib==1.4.2
tqdm==4.66.4
geopy==2.4.1
rapidfuzz==3.9.3
lxml==5.2.2
fiona==1.9.6
pyproj==3.6.1
seaborn==0.13.2
